generative-lm-for-paragraph-level-qg
ckpt
eval
cache
app_hf.py
misc/huggingface_models
misc/lmqg_model_evaluation/*.csv
misc/emnlp_2022/manual_evaluation/data/main*
misc/emnlp_2022/manual_evaluation/data/final_result.*
misc/emnlp_2022/manual_evaluation/output
misc/emnlp_2022/manual_evaluation/data/prediction*
misc/emnlp_2022/manual_evaluation/mturk_output
lmqg_output
misc/emnlp_2022/manual_evaluation/nlp-williams
misc/emnlp_2022/qa_based_evaluation/data

#misc/qg_model_training/summary
#misc/qg_model_training/config
misc/emnlp_2022/manual_evaluation
misc/utils

dataset
hf_sample.py
metric_files
#figures
PRIVATE.md
note.sh
note2.sh