manual_evaluation
generative-lm-for-paragraph-level-qg
ckpt
eval
cache
app_hf.py
misc/huggingface_models
misc/lmqg_model_evaluation/*.csv
misc/2022_emnlp_qg/manual_evaluation/data/main*
misc/manual_evaluation/data/final_result.*
misc/manual_evaluation/output
misc/manual_evaluation/data/prediction*
misc/manual_evaluation/mturk_output
lmqg_output
misc/manual_evaluation/nlp-williams
misc/qa_based_evaluation/data

#misc/qg_model_training/summary
#misc/qg_model_training/config
misc/manual_evaluation
misc/utils

dataset
hf_sample.py
metric_files
#figures
PRIVATE.md
note.sh
note2.sh
metric
tmp*
*.xlsx
simple-question-generation
acl_submission
sample.jsonl
qa_mlqae
qa_squadshifts
